# Apply override to all files in the directory
special-vendored-path/* linguist-vendored
# Apply override to a specific file
src/glad.c -linguist-vendored
includes/glad/glad.h -linguist-vendored
# Apply override to all files and directories in the directory
ano-dir/** linguist-vendored